/*  _____________________________________________________ */
/*  Site colors */
$colorMainBackground: rgb(255, 255, 255);
$colorMainText: rgb(6, 6, 6);
$colorAlert: #da151f;

$colorButtonBackground: #da151f;
$colorButtonText: #da151f;
