/*******
* Colors
*******/
$colorBackgroundMain: #ccc;
$colorTextMain: #000;

$colorHeaderBackgroundMain: orange;
$colorFooterBackgroundMain: orange;

$colorButtonBackgroundMain: #da151f;
$colorButtonTextMain: #da151f;

$colorAlert: #da151f;
